/* css/styles.css */

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.background-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-form {
    background: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente */
    padding: 20px;
    border-radius: 10px;
    z-index: 1;
    position: relative;
}

footer {
    color: white; /* Cor do texto do footer */
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.btn-google {
    background-color: #4285F4; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Remove borda padrão */
}

.btn-google:hover {
    background-color: #357ae8; /* Cor de fundo ao passar o mouse */
}
